<% if oauth_verified? %>
  <h2><%= %w[ Boom Sweet Success Goal Score ].sample %>!</h2>
<% else %>
  <h2>Get your Trello OAuth Credentials</h2>
<% end %>

<% if oauth_verified? %>
<p>OAuth credentials. Keep them safe!</p>
<fieldset>
  <p>TRELLO_OAUTH_TOKEN: <input name="oauth_token" type="text" value="<%= session[:oauth_token] %>" disabled /></p>
  <p>TRELLO_OAUTH_SECRET: <input name="oauth_secret" type="text" value="<%= session[:oauth_secret] %>" disabled /></p>
</fieldset>
<% elsif settings.debug %>
  <p><a href="/authorize">Connect to Trello</a> to get your OAuth access token and secret.</p>
<% end %>

<% if oauth_verified? %>
  <p>App credentials</p>
  <fieldset>
    <p><label>TRELLO_APP_NAME</label>: <input type="text" name="app_name" value="<%= settings.app_name %>" disabled /></p>
    <p><label>TRELLO_APP_KEY</label>: <input type="text" name="app_key" value="<%= settings.app_key %>" disabled /></p>
    <p><label>TRELLO_APP_SECRET</label>: <input type="text" name="app_secret" value="<%= settings.app_secret %>" disabled /></p>
  </fieldset>
<% else %>
  <p>Enter your app credentials</p>
  <form method="post" action="/connect">
    <%= csrf_tag %>
    <fieldset>
      <p><label>TRELLO_APP_NAME</label>: <input type="text" name="app_name" value="<%= app_name %>" /></p>
      <p><label>TRELLO_APP_KEY</label>: <input type="text" name="app_key" value="<%= app_key %>" /></p>
      <p><label>TRELLO_APP_SECRET</label>: <input type="text" name="app_secret" value="<%= app_secret %>" /></p>
      <p><input value="Connect to Trello" type="submit" class="button" /></p>
    </fieldset>
  </form>
<% end %>
